@media screen and (min-width: 300px) {
  #heading h1 {
    font-size: 3.5vw;
  }
}

#heading {
  position: relative;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #cecece;
  background-color: #fff3e0;
}

#heading h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 4vh;
  color: #25282B;
}

#heading img {
  position: absolute;
  width: 4vh;
  height: 4vh;
  top: 15px;
  right: 50px;
}

#repos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

#repos .repo:hover {
  background-color: #f0f0f0;
  -webkit-box-shadow: 0px 0px 5px gray;
          box-shadow: 0px 0px 5px gray;
}

#repos .repo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-bottom: 2px solid #cecece;
  padding-top: 25px;
  padding-bottom: 25px;
}

#repos .repo .avatar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: top;
      -ms-grid-row-align: top;
      align-self: top;
  text-align: center;
}

#repos .repo .avatar img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 80px;
  border-radius: 50%;
}

#repos .repo .info {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

#repos .repo .info .author {
  color: #606364;
}

#repos .repo .info .name {
  color: #25282B;
}

#repos .repo .info .description {
  color: #505455;
  display: none;
}

#repos .repo .info .perks {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#repos .repo .info .perks div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

#repos .repo .info .perks div div.lang_color {
  display: inline-block;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 0;
  margin-right: 12px;
}

#repos .repo .info .perks div img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

#repos .repo .info .perks div span {
  font-size: 18px;
}

.br {
  border-radius: 8px;
}

.w80 {
  width: 30%;
}

.comment {
  height: 10px;
  background: #777;
  margin-top: 20px;
}

.pic {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.animate {
  -webkit-animation: shimmer 2s infinite linear;
          animation: shimmer 2s infinite linear;
  background: -webkit-gradient(linear, left top, right top, color-stop(4%, #eff1f3), color-stop(25%, #e2e2e2), color-stop(36%, #eff1f3));
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
/*# sourceMappingURL=styles.css.map */